
html {
    font-size: 0.625rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.wrapper {
   max-width: 70%;
    height: 90%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}

.controls__input {
visibility: hidden;
}

.slides__window{
   max-width: 60%;
    height: 100%;
    margin: 1rem auto;
    overflow: hidden; 
} 

.slides__track {
   width: 500%;
    height: 100%;
display: flex;    
    gap: 1rem;
}


.slide {
    width: 100%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.bottom__block {
    max-width: 60%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__phrases__window {
   max-width: 60%; 
   margin: 1rem auto;
    overflow: hidden;
}

.slider__phrases__track {
width: 500%;
    height: 100%;
display: flex;   
align-items: center; 
    gap: 1rem;
}

.slider__text {
    width: 100%;
}

.circle {
    width: 5rem;
    height: 5rem;
   
    cursor: pointer;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.controls__dot{
    width: 2.5rem;
    height: 2.5rem;
    background: palevioletred;
    border-radius: 50%;
}

.navigation {
    height: 5rem;
    display: flex;
    gap: 1rem;
}